<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
<h2>Enter New Flight</h2> 
     <label>Airline:</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
        <option value="Qatar">Qatar</option>
    </select> 

<label>Airport:</label>
    <select name="airport" >
        <option value="AUS">Austin(AUS)</option>
        <option value="SAN">San Diego(SAN)</option>
        <option value="DEN">Denver(DEN)</option>
        <option value="MIA">Miami(MIA)</option>
        <option value="LAX">Los Angeles(LAX)</option>
    </select>

<label>FlightNo:</label>
<input type="number" name="flightNo" required min="10" max="9999">

<label>Departs:</label>
    <input type="datetime-local" name="departs" required>
<input type="submit" value="Add Flight">
</form>
<%- include('../partials/footer') %>