<%- include('../partials/header') %>

<h2>Enter new Flight</h2>
<form action="/flights" method="POST">

<label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
        <option value="Qatar">Qatar</option>
    </select> 
</label> <br>
<label>Airport:
    <select name="airport" >
        <option value="AUS">Austin(AUS)</option>
        <option value="SAN">San Diego(SAN)</option>
        <option value="DEN">Denver(DEN)</option>
        <option value="MIA">Miami(MIA)</option>
        <option value="LAX">Los Angeles(LAX)</option>
    </select>
</label> <br>
<label>FlightNo:
<input type="number" name="flightNo" required min="10" max="9999">
</label> <br>
<label>Departs:
    <input type="datetime-local" name="departs" required>
</label> <br>
<button type="submit">Add flight</button>
</form>
<p> <%= errorMsg %></p>
<%- include('../partials/footer') %>